@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.home__container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.temp__container{
    background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
    background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
    background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.temp__h1{
    font-size: 750%;
    font-family: 'Lilita One', cursive;
}